<% layout('/layouts/boilerplate') %>
<style>
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<head>
    <link rel="stylesheet" href="/crew_signup.css">
</head>
    <body>
        <div id="wrapper">
            <form class="form" action="/admin/login" method="post">
                <p class="tittle">Admin login</p>
                <label>
                    <input class="input" type="text" placeholder="" required>
                    <span>Username</span>
                </label>
                <label>
                    <input class="input" type="password" placeholder="" required="">
                    <span>Password</span>
                </label>
                <button type="submit" class="submit">Login</button>
                <div id="wrapper-links">
                <p class="signin">Don't have a account? <a href="/admin/request">Register</a></p>
                <p class="signin"><a href="/crew/login">Login as Crew</a></p>
                </div>
            </form>
        </div>
    </body>
