<% layout('/layouts/boilerplate') %>

<!DOCTYPE html>
<html>

<head>
    <title>Map with Route</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map {
            width: 80%;
            height: 100vh;
            border-radius: 10px;
            border: 3px solid black;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 0;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([28.7041, 77.1025], 11);
        var mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'Leaflet &copy; ' + mapLink + ', contribution', maxZoom: 18 }).addTo(map);

        // Coordinates data from the server
        var coord = <%- JSON.stringify(coord) %>; // Embed coord data into JavaScript
        var stops = new Array(); // Embed stops count into JavaScript

        // Add markers based on coord data
		for(let i=0;i<coord.length;i++){
				
			if(i==0){
				iconColor = 'red';
				var divIcon = `<div style="background-color: ${iconColor}; width: 30px; height: 30px; border-radius: 50%; border: 2px solid white;"></div>`;
				L.marker([coord[i].lat, coord[i].lon], { icon: L.divIcon({ className: 'custom-icon', html: divIcon, iconSize: [30, 30] }) },{draggable:false})
                .bindPopup(`<b>Stop  ${i+1}: ${coord[i].place}</b><br>Latitude: ${coord[i].lat}<br>Longitude: ${coord[i].lon}`)
                .addTo(map);
			}

			else if(i==coord.length-1){
				iconColor = 'green';
				var divIcon = `<div style="background-color: ${iconColor}; width: 30px; height: 30px; border-radius: 50%; border: 2px solid white;"></div>`;
				L.marker([coord[i].lat, coord[i].lon], { icon: L.divIcon({ className: 'custom-icon', html: divIcon, iconSize: [30, 30] }) },{draggable:false})
                .bindPopup(`<b>Stop ${i+1}: ${coord[i].place}</b><br>Latitude: ${coord[i].lat}<br>Longitude: ${coord[i].lon}`)
                .addTo(map);
			}

			else{
				L.marker([coord[i].lat, coord[i].lon],{draggable:false})
                .bindPopup(`<b>Stop ${i+1}: ${coord[i].place}</b><br>Latitude: ${coord[i].lat}<br>Longitude: ${coord[i].lon}`)
                .addTo(map);
			}

			stops.push([coord[i].lat, coord[i].lon]);
			
		}

        L.Routing.control({
            waypoints: stops
        }).addTo(map);
    </script>
</body>

</html>
