<div id="contact-us" class="footer">
    <div class="footer-content">
        <div class="footer-address">
            <h3>Address</h3>
            <p><span>&#x1F4CD;</span> Delhi Transport Corporation (HQ),<br>
                Government of National Capital Territory of Delhi,<br>
                I.P. Estate: New Delhi-110002</p>
            <p><span>&#x1F4DE;</span> +91-11-23370236</p>
        </div>
        <div class="footer-map">
            <h3>Map of Department of Delhi Transport Corporation</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14015.078337748899!2d77.2446329!3d28.6230723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce32cbd73b043%3A0x7bcee7551179c571!2sDelhi%20Transport%20Corporation!5e0!3m2!1sen!2sin!4v1693674512051!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
