<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Transport Corporation</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>
        <%- include("../includes/navbar.ejs") %>

        <%- include("../includes/flash.ejs") %>
        <%- body %>

        <%- include("../includes/footer.ejs") %>

        <script src="/script.js"></script>
    </body>
</html>
