<% layout('/layouts/boilerplate') %>

    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <head>
        <link rel="stylesheet" href="/crew_signup.css">
    </head>
    <body>
        <div id="wrapper">
        <form class="form" action="/crew/login" method="post">
            <p class="tittle">Crew login</p>
            <label>
                <input class="input" type="text" placeholder="" required>
                <span>Username</span>
            </label>
            <label>
                <input class="input" type="password" placeholder="" required="">
                <span>Password</span>
            </label>
            <label>
                <input type="checkbox" placeholder="">
                <span>Remember me</span>
            </label>
            <button type="submit" class="submit">Login</button>
            <div id="wrapper-links">
            <p class="signin">Forgot password? <a href="/forgot">Get email!</a></p>
            <p class="signin">Don't have a account? <a href="/crew/signup">Register</a></p>
            <p class="signin"><a href="/admin/login">Login as Admin</a></p>
            </div>
        </form>
    </div>
    </body>
